<div class="footer-frame">
    <div style="min-height: 10px"></div>
    <div class="col-md-8" style="padding: 4px">
        <h6 id="footer1" class="sans grey" style="margin-left: 8%">FEIYI WANG&nbsp;&nbsp;|&nbsp;&nbsp;+1 (508)873-7966&nbsp;&nbsp;&nbsp;&nbsp;
            REPHYCCA@GMAIL.COM&nbsp;&nbsp;|&nbsp;&nbsp;PRIVACY POLICY&nbsp;&nbsp;&nbsp;&nbsp;TERMS + CONDITIONS</h6>
    </div>
    <div class="col-md-4" style="padding: 4px">
        <h6 id="footer2" class="sans grey" style="margin-right: 15%;text-align: right;">© 2020 FEIYI WANG All Rights Reserved.</h6>
    </div>
</div>