<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Fey斐's Little Home&nbsp;&nbsp;</a>
        </div>
        <ul class="nav navbar-nav">
            <li style="display:inline-block;">

                <a href="profile.html">
                    <img src="icon/profile.png" alt="Profile" style="width:20px;height:20px;">&nbsp;&nbsp;Profile
                </a>
            </li>
            <li style="display:inline-block;">
                <a href="projects.html">
                    <img src="icon/project.png" alt="Projects" style="width:20px;height:20px;">&nbsp;&nbsp;Projects
                </a>
            </li>
            <li style="display:inline-block;">
                <a href="photography.html">
                    <img src="icon/photo.png" alt="Photo" style="width:20px;height:18px;">&nbsp;&nbsp;Photography
                </a>
            </li>
            <li style="display:inline-block;">
                <a href="notebook.html">
                    <img src="icon/note.png" alt="Note" style="width:20px;height:18px;">&nbsp;&nbsp;Notebook
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <script>
//                function googleTranslateElementInit() {
//                // InlineLayout.HORIZONTAL or .SIMPLE or .vertical
//                    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
//                }
                $(function(){
                    $("#login").load("template/login.html");
                });
            </script>
            <li style="display: inline-block;"><div id="login"></div></li>
            <!--<li style="display: inline-block;"><div style="padding-top: 14px;" id="google_translate_element"></div></li>-->
            <li style="display: inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li style="display: inline-block;"><img src="icon/logo.png" alt="Logo" style="width:190px;height:50px;padding-top:3px;">&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
    </div>
</nav>
