<link rel="stylesheet" href="static/css/login.css">
<button id="btn_login" class="login-nav">Login</button>
<button id="btn_logout" style="display: none" class="login-nav">Logout</button>
<script>
    $.ajax({
        url:"icon/pinocchio.png",
        type:'HEAD',
        error: function(){
            $('#img_login').attr("src", "../icon/pinocchio.png");
            $('#img_create').attr("src", "../icon/donaldDuck.png");
            $('#img_forget').attr("src", "../icon/minnie.png");
        },
        success: function(){
            $('#img_login').attr("src", "icon/pinocchio.png");
            $('#img_create').attr("src", "icon/donaldDuck.png");
            $('#img_forget').attr("src", "icon/minnie.png");
        }
    });
</script>
<div id="modal1" class="modal">
    <form id="login_form" class="modal-content" action="index.html" method="post">
        <div class="imgcontainer">
            <span class="close" title="Close Window">&times;</span>
            <img id="img_login" alt="Avatar" class="avatar">
            <p id="msg_login" class="msg"></p>
        </div>
        <div class="center" id="login_div">
            <!--<label for="uname"><b>Username</b></label>&nbsp;&nbsp;&nbsp;&nbsp;-->
            <input type="text" placeholder="Enter Email" id="usr" required>
            <br>
            <!--<label for="psw"><b>Password</b></label>&nbsp;&nbsp;&nbsp;&nbsp;-->
            <input type="password" placeholder="Enter Password" id="psw" required>

            <button class="login-btn" type="submit">Login</button>
            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <div class="modal-bottom">
            <span class="left">New comer? <a class="create">Create an account</a>.</span>
            <span class="right">Forgot <a class="forgot">password</a>?</span>
            <script>

            </script>
        </div>
    </form>
    <form id="create_form" class="modal-content" action="index.html" method="post">
        <div class="imgcontainer">
            <span class="close" title="Close Window">&times;</span>
            <img id="img_create" alt="Avatar" class="avatar">
            <p id="msg_create" class="msg"></p>
        </div>
        <div class="center" id="create_div">
            <input type="text" placeholder="Enter Full Name" id="name_n" required>
            <br>
            <input type="text" placeholder="Enter Email" id="usr_n" required>
            <br>
            <input type="password" placeholder="Enter Password" id="psw_n" required>
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <button class="login-btn" type="submit">Create</button>
        </div>
    </form>
    <form id="forget_form" class="modal-content" action="index.html" method="post">
        <div class="imgcontainer">
            <span class="close" title="Close Window">&times;</span>
            <img id="img_forget" alt="Avatar" class="avatar">
            <!--<p id="msg_forget" class="msg"></p>-->
        </div>
        <div class="center" id="forget_div">
            <input type="text" placeholder="Enter Full Name" id="name_f" required>
            <br>
            <input type="text" placeholder="Enter Email Address" id="usr_f" required>
            <br>
            <button class="login-btn" type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    $(document).on('click','.close',function(){
        $('#login_form').show();
        $('#create_form').hide();
        $('#forget_form').hide();
        $('.modal-content').css('height','430px');
        formData
        $('#modal1').hide();
    });
    $('#btn_login').click(function () {
        $('#modal1').show();
    });
    $('#btn_logout').click(function () {
        $('.personal').hide();
        $("#btn_login").show();
        $("#btn_logout").hide();
    });
    $('.create').click(function () {
        $('#login_form').hide();
        $('#create_form').show();
        $('.modal-content').css('height','480px');
    });
    $('.forgot').click(function () {
        $('#login_form').hide();
        $('#forget_form').show();
        $('.modal-content').css('height','370px');
    });
    $(function() {
        // Get the form.
        var form = $('#login_form');
        // Get the messages div.
        var formMessages = $('#msg_login');
        // Set up an event listener for the contact form.
        $(form).submit(function(event) {
            // Stop the browser from submitting the form.
            event.preventDefault();
            // Serialize the form data.
            var formData = $(form).serialize();
            // Submit the form using AJAX.
            $.ajax({
                type: 'POST',
                url: $(form).attr('action'),
                data: formData
            }).done(function(response) {
                alert(JSON.parse(formData));
                // Clear the form.
                $('#usr').val('');
                $('#psw').val('');
                $('#close').click();
                $("#btn_login").hide();
                $("#btn_logout").show();
                $(".personal").show();
            }).fail(function(data) {
                // Set the message text.
                if (data.responseText !== '') {
                    $(formMessages).text(data.responseText);
                } else {
                    $(formMessages).text('Oops! Please check the info you put.');
                }
            });
        });
    });
    $(function() {
        // Get the form.
        var form = $('#create_form');
        // Get the messages div.
        var formMessages = $('#msg_create');
        // Set up an event listener for the contact form.
        $(form).submit(function(event) {
            // Stop the browser from submitting the form.
            event.preventDefault();
            // Serialize the form data.
            var formData = $(form).serialize();
            // Submit the form using AJAX.
            $.ajax({
                type: 'POST',
                url: $(form).attr('action'),
                data: formData
            }).done(function(response) {
                alert(formData);
//                $.getJSON("personal/credentials.json", function(result){
//
//                }
//                c_string = file_get_contents();//get contents of your json file and store it in a string
//                c_array = json_decode(c_string, true);//decode it
//                array_push( c_array, formData);//push contents to ur decoded array i.e $arr
//                c_string = json_encode(c_array);
//                //now send evrything to ur data.json file using folowing code
//                if (json_decode(c_string) != null) {
//                    file = fopen('personal/credentials.json','w');
//                    fwrite(file, c_string);
//                    fclose(file);
//                } else {
//                    //  invalid JSON, handle the error
//                }

                // Clear the form.
                $('#name_n').val('');
                $('#usr_n').val('');
                $('#psw_n').val('');
                $("#close").click();
//                $('#modal1').hide();
                $("#btn_login").hide();
                $("#btn_logout").show();
                $(".pernal").show();
            }).fail(function(data) {
                // Set the message text.
                if (data.responseText !== '') {
                    $(formMessages).text(data.responseText);
                } else {
                    $(formMessages).text('Oops! Please check the info you put.');
                }
            });
        });
    });
//    $("#login_form").submit(function (e) {
//        var postData = $(this).serializeArray();
//        var formURL = $(this).attr("action");
//        $.ajax({
//            url: formURL,
//            type: "POST",
//            data: postData,
//            success: function (response) {
//                if (response) {
//                    //do stuff if login is correct
//                } else {
//                    $("#loginError").show();
//                }
//
//            },
//            error: function (jqXHR, textStatus, errorThrown) {
//                //$("#loginError").show();
//            }
//        });
//        e.preventDefault();
//    });
</script>