<link rel="stylesheet" href="static/css/login.css">
<button id="btn_login" class="login-nav">Login</button>
<!--<button id="btn_logout" style="display: none" class="login-nav">Logout</button>-->
<script>
    var to_url = "";
    $.ajax({
        url:"icon/pinocchio.png",
        type:'HEAD',
        error: function(){
            $('#img_login').attr("src", "../icon/pinocchio.png");
            $('#img_create').attr("src", "../icon/donaldDuck.png");
            $('#img_forget').attr("src", "../icon/minnie.png");
            to_url += "../home.html";
//            $('#login_form').attr("action", "../personal/action.php");
//            $('#login_form').attr("action", "../home.html");
        },
        success: function(){
            $('#img_login').attr("src", "icon/pinocchio.png");
            $('#img_create').attr("src", "icon/donaldDuck.png");
            $('#img_forget').attr("src", "icon/minnie.png");
            to_url += "home.html";
//            $('#login_form').attr("action", "personal/action.php");
//            $('#login_form').attr("action", "home.html");
        }
    });
</script>
<div id="modal1" class="modal">
    <form id="login_form" class="modal-content">
        <div class="imgcontainer">
            <span class="close" title="Close Window">&times;</span>
            <img id="img_login" alt="Avatar" class="avatar">
            <p id="msg_login" class="msg"></p>
        </div>
        <div class="center" id="login_div">
            <!--<input type="text" placeholder="Enter Name" id="name" required>-->
            <!--<label for="uname"><b>Username</b></label>&nbsp;&nbsp;&nbsp;&nbsp;-->
            <input type="text" placeholder="Enter Email" id="email" required>
            <br>
            <!--<label for="psw"><b>Password</b></label>&nbsp;&nbsp;&nbsp;&nbsp;-->
            <input type="password" placeholder="Enter Password" id="psw" required>

            <button id="submit_login" class="login-btn" type="submit">Login</button>
            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <div class="modal-bottom">
            <span class="left">New? <a class="create">Create an account</a>.</span>
            <span class="right">Forgot <a class="forgot">password</a>?</span>
        </div>
    </form>
    <form id="create_form" class="modal-content" action="index.html" method="post">
        <div class="imgcontainer">
            <span class="close" title="Close Window">&times;</span>
            <img id="img_create" alt="Avatar" class="avatar">
            <p id="msg_create" class="msg"></p>
        </div>
        <div class="center" id="create_div">
            <input type="text" placeholder="Enter Full Name" id="name_n" required>
            <br>
            <input type="text" placeholder="Enter Email" id="usr_n" required>
            <br>
            <input type="password" placeholder="Enter Password" id="psw_n" required>
            <button id="submit_create" class="login-btn" type="submit">Create</button>
        </div>
        <div class="modal-bottom" style="margin-top: -10px;">
            <span class="left">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</span>
        </div>
    </form>
    <form id="forget_form" class="modal-content" action="index.html" method="post">
        <div class="imgcontainer">
            <span class="close" title="Close Window">&times;</span>
            <img id="img_forget" alt="Avatar" class="avatar">
            <!--<p id="msg_forget" class="msg"></p>-->
        </div>
        <div class="center" id="forget_div">
            <input type="text" placeholder="Enter Full Name" id="name_f" required>
            <br>
            <input type="text" placeholder="Enter Email Address" id="usr_f" required>
            <br>
            <button id="submit_forget" class="login-btn" type="submit">Submit</button>
        </div>
    </form>
    rephycca@gmail.com
</div>

<script>
    var arr_links = [];
    $(document).on('click','.close',function(){
        $('#login_form').show();
        $('#create_form').hide();
        $('#forget_form').hide();
        $('.modal-content').css('height','390px');
        $('#modal1').hide();
    });
    $('#btn_login').click(function () {
        $('#modal1').show();
    });
//    $('#btn_logout').click(function () {
//        $('.personal').hide();
//        $("#btn_login").show();
//        $("#btn_logout").hide();
//    });
    $('.create').click(function () {
        $('#login_form').hide();
        $('#create_form').show();
        $('.modal-content').css('height','420px');
    });
    $('.forgot').click(function () {
        $('#login_form').hide();
        $('#forget_form').show();
        $('.modal-content').css('height','330px');
    });
    $("#submit_create").click(function(e) {
        alert('Hey my dear friend, you cannot create an account in my little home currently since this function is still under implement... but do send me note if you have any great ideas! My email is rephycca@gmail.com Thanks in advance!! :)');
    });
    $("#submit_login").click(function(e) {
        var email = $('#email').val(), psw = $('#psw').val();
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
//            alert('correct')
            $.getJSON('template/login.json', function(data) {
                if (Object.keys(data).includes(email)) {
                    if (data[email]["psw"] == psw) {
                        $('#msg_login').val('');
                        $(".close").click();
                        window.location.href = to_url + "?first=" + data[email]["first"]
                                + "&last=" + data[email]["last"];
//                        window.location.href = $('#login_form').attr("action") + "?first=" + data[email]["first"]
//                                + "&last=" + data[email]["last"];
//                        setTimeout(function () {
//                            window.location.href += "?first=" + data[email]["first"] + "&last=" + data[email]["last"];
//                        }, 2000);
//                        var l = document.links;
//                        for(var i=0; i<l.length; i++) {
//                            arr_links.push(l[i].href+"?first=" + data[email]["first"] + "&last=" + data[email]["last"]);
//                        }

//                        $.ajax({
//                            type: "POST",
//                            url: $('#login_form').attr("action"),
//                            contentType: "application/json; charset=utf-8",
//                            data: '{"username":"' + email + '","password":"' + psw + '"}',
//                            dataType: "json",
//                            success: function (result, status, xhr) {
//                                if (result.d == "Success") {
//                                    $('#msg_login').val('');
//                                    $(".close").click();
//                                    $('.personal').show();
//                                    $("#btn_login").hide();
//                                    $("#btn_logout").show();
//                                    setTimeout(function () {
//                                        window.location = url;
//                                    }, 2000);
//                                } else  $("#msg_login").text("Login failed, Please try again.");
//                            }
////                            }, error: function (xhr, status, error) {
////                                $("#dbData").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
////                            }
//                        });

                    } else {
//                        alert(JSON.stringify(data[email]));
                        $("#msg_login").text("Oops! Wrong password. Have another try!");
                    }
                } else {
                    $("#msg_login").text("Oops! This email doesn't exist.");
                }
            });
        } else {
            $("#msg_login").text("Oops! Invalid email format.");
        }
    });
</script>