@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-ExtraLight.ttf');
    /*font-weight: 700;*/
    font-style: normal;
}

.home {
    background: white url("../image/home_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}

#body {
    /*padding:10px;*/
    padding-bottom:40px;   /* Height of the footer */
}
.footer-frame {
    position:fixed;
    /*background-attachment: scroll;*/
    bottom:0;
    width:100%;
    height: 40px/* Height of the footer */
    /*background: transparent;*/
}
.navbar {
    min-height: 40px;
}
.goBack {
    color:grey;
    background-color: transparent;
    border: none;
}
.goBack:hover, .goBack:target {
    color: dimgrey;
}

.mon {
    font-family: 'Montserrat', sans-serif;
}
.white {
    color: white;
}
.grey {
    color: #7a7a7a;
}
.purple {
    color: #be5bf0;
}
.purblu {
    color: #855bf0;
}
.blue {
    color: #6178ff;
}
.center {
    text-align: center;
}
/*.red {*/
    /*color: red;*/
/*}*/
.navy {
    color: #336ca9;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden; /* scroll hidden auto*/
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}
.justify {
    text-align: justify;
}
.personal {
    display: none;
}
.bg_trans {
    background: transparent;
}
.bg_white {
    background: white;
}
/*.bg_trans {*/
    /*background: transparent;*/
/*}*/


.inline-hover-swap {
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inline-hover-swap img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.inline-hover-swap img.hover-img {
  opacity: 0;
}

.inline-hover-swap:hover img.hover-img {
  opacity: 1;
}

.inline-hover-swap:hover img.base-img {
  opacity: 0;
}

.icon-link {
  text-decoration: none;
}

.icon-link:hover,
.icon-link:focus,
.icon-link:active {
  text-decoration: none;
}

.intro-text {
    position: absolute;       /* place text relative to body */
    top: 50%;                 /* vertical center */
    left: 50%;                /* horizontal center */
    transform: translate(-50%, -50%); /* perfect centering */
    text-align: center;
    color: white;             /* default text color, can override per element */
    width: 90%;               /* responsive width */
    max-width: 800px;         /* optional maximum */
}

.intro-text p {
    margin: 8px 0;            /* spacing between lines */
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.intro-text p.name {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
    font-weight: normal;
}

/*.intro-text a.grey { color: #7f7f7f; text-decoration: none; }*/
/*.intro-text a.purple { color: #be5bf0; text-decoration: none; }*/
/*.intro-text a.purblu { color: #855bf0; text-decoration: none; }*/
/*.intro-text a.blue { color: #6178ff; text-decoration: none; }*/

.intro-text a:hover {
    text-decoration: underline;
}