.math, .display {
    text-align: center;
    border: 2px solid #f0ad4e;
}

.math {
    margin-top: 5px;
    height: 42px;   /* originally was 45px */
    width: 42px;    /* originally was 45px */
    border-radius: 10px;
    background-color: transparent;
}
.size-2-2 {
    height: 88px;   /* originally was 45*2+5 px */
    width: 88px;    /* originally was 45*2+5 px */
}
.size-2-3 {
    height: 89px;   /* originally was 45*2+5 px */
    width: 134px;    /* originally was 45*2+5 px */
}
.size-2-1 {
    height: 88px;   /* originally was 45*2+5 px */
    width: 42px;    /* originally was 45px */
}
.math:hover , .math:focus{
    border: 2px solid #5cb85c;
    background-color: rgb(255, 247, 216);
}

.display {
    width: 100%;
    margin: 15px 0;
    height: 100px;
    padding-top: 20px;
    border-radius: 5px;
}



.div_math {
    /*margin: 0 15px;*/
    width: 100%;
}
.text-pic-name {
    font-size: 12px;
    border: transparent;
    border-bottom: 2px solid #336ca9;
    height: 20px;
    margin-bottom: -5px;
    padding: 2px 5px 0 5px;
}