.div_image {
	padding:24%;
	text-align: center;
}

.image_af1 {
	width:58%;
}
.image_af1:hover {
	transform: scale(1.1);
}

.div_bg {
	background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    /*height:100%;*/
    position: relative;
}
.shanghai_bg {
    background-image: url("../image/shanghai_bg.png");
}
.boston_bg {
    background-image: url("../image/boston_bg.png");
}
.resume_bg {
    background-image: url("../image/resume_bg.png");
}
